

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border: 1px solid #000;
    /*margin-left: 500px;*/
}
.but {
    flex-direction: row;
    flex-wrap: wrap;
}
.visor {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: flex-start;
    background-color: #444;
    flex-direction: column;
    width: 260px;
}
.value{
    font-size: 25px;
    color: #fff;
    height: 20px;
}
.res{
    font-size: 35px;
    color: #fff;
    height: 35px;
}
.botao{
    font-size: 30px;
    height: 75px;
    width: 75px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}